<!doctype html>
<!-- Website template by freewebsitetemplates.com -->
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ACDL_HELPER - Development Page</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel="icon" type="image/png" href="/images/favicon.png">
	<!-- Usercentrics -->
	<link rel="preconnect" href="//app.usercentrics.eu">
	<link rel="preconnect" href="//api.usercentrics.eu">
	<link rel="preconnect" href="//privacy-proxy.usercentrics.eu">
	<link rel="preload" href="//app.usercentrics.eu/browser-ui/latest/loader.js" as="script">
	<link rel="preload" href="//privacy-proxy.usercentrics.eu/latest/uc-block.bundle.js" as="script">
	<script id="usercentrics-cmp" data-settings-id="46yBbZUG" src="https://app.usercentrics.eu/browser-ui/latest/loader.js" data-block-data-layer-push=1 async></script>
	<script type="application/javascript" src="https://privacy-proxy.usercentrics.eu/latest/uc-block.bundle.js"></script>
	<!-- 
		Usercentrics smart data protector blocks everything injected, including Adobe Launch. 
		Deactivation needed for "Adobe Experience Cloud (f6nkjdUL)" 
	-->
	<script>uc.deactivateBlocking(['f6nkjdUL']);</script>
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="css/mobile.css">
</head>
<body id="content-2b9114832d" data-cmp-data-layer-enabled>
	<script>
		const page = {
			"content-2b9114832d": {
			"@type": "freeze/core/components/page/content",
			"repo:modifyDate": "2022-11-24T14:22:04Z",
			"dc:title": "About",
			"xdm:template": "/conf/freeze/settings/wcm/templates/homepage",
			"xdm:language": "en",
			"xdm:tags": [
				"Cup Cakes",
				"Featured",
				"New",
			],
        	"repo:path": "/content/freeze/about"
    		}	
		}
		window.adobeDataLayer = window.adobeDataLayer || [];
		adobeDataLayer.push({
			page: JSON.parse(JSON.stringify(page)),
			event:'cmp:show',
			eventInfo: {
				path: 'page.content\u002D2b9114832d'
			}
		});
	</script>
	<div id="page">
		<div id="header">
			<div>
				<a href="/" class="logo"><img src="/images/logo.png" alt=""></a>
				<ul id="navigation">
					<li>
						<a href="/">Home</a>
					</li>
					<li class="menu selected">
						<a href="/about" data-cmp-clickable-link data-cmp-data-layer="{&#34;navigation-69cfafa9da-link-1-1&#34;:{&#34;@type&#34;:&#34;freeeze-company/core/components/structure/navigation/link-level-1&#34;,&#34;dc:title&#34;:&#34;About&#34;,&#34;dc:description&#34;:&#34;internal nav-link-level-1&#34;}}">About</a>
						<ul class="primary">
							<li>
								<a href="/about/product" data-cmp-clickable-link data-cmp-data-layer="{&#34;navigation-69cfafa9da-link-1-2&#34;:{&#34;@type&#34;:&#34;freeeze-company/core/components/structure/navigation/link-level-2&#34;,&#34;dc:title&#34;:&#34;Product&#34;,&#34;dc:description&#34;:&#34;internal nav-link-level-2&#34;}}">Product</a>
							</li>
						</ul>
					</li>
					<li class="menu">
						<a href="/blog" data-cmp-clickable-link data-cmp-data-layer="{&#34;navigation-69cfafa9da-link-2-1&#34;:{&#34;@type&#34;:&#34;freeeze-company/core/components/structure/navigation/link-level-1&#34;,&#34;dc:title&#34;:&#34;Blog&#34;,&#34;dc:description&#34;:&#34;internal nav-link-level-1&#34;}}">Blog</a>
						<ul class="secondary">
							<li>
								<a href="/blog/post" data-cmp-clickable-link data-cmp-data-layer="{&#34;navigation-69cfafa9da-link-2-2&#34;:{&#34;@type&#34;:&#34;freeeze-company/core/components/structure/navigation/link-level-2&#34;,&#34;dc:title&#34;:&#34;Single&#32;Post&#34;,&#34;dc:description&#34;:&#34;internal_nav-link-level-2&#34;}}">Single post</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="/contact" data-cmp-clickable-link data-cmp-data-layer="{&#34;navigation-69cfafa9da-link-3-1&#34;:{&#34;@type&#34;:&#34;freeeze-company/core/components/structure/navigation/link-level-1&#34;,&#34;dc:title&#34;:&#34;Contact&#34;,&#34;dc:description&#34;:&#34;internal nav-link-level-1&#34;}}">Contact</a>
					</li>
				</ul>
			</div>
		</div>
		<div id="body">
			<div class="header">
				<div>
					<h1>About</h1>
				</div>
			</div>
			<div class="body">
				<img src="images/bg-header-about.jpg" alt="">
			</div>
			<div class="footer">
				<div class="sidebar">
					<h1>Be Part of Our Community</h1>
					<p>If you’re experiencing issues or having concerns about this website template, join the discussion and meet other people in the community who share the same interests.</p>
				</div>
				<div class="article">
					<h1>We Have Free Templates For Everyone</h1>
					<p>Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded. What’s more, they’re absolutely free! You can do a lot with them. You can modify them.</p>
					<p>You can use them to design websites for clients, so long as you agree with the Terms of Use. You can even remove all our links if you want to.</p>
					<h1>We Have More Templates For You</h1>
					<p>Looking for more templates? Just browse through all our. But if you can’t find any website templates you can use, try our service and tell us all about it. We love a good challenge!</p>
					<h1>Template Details</h1>
					<span>Design Version 2.</span>
					<span>Code Version 1.</span>
					<p>Website Template details, discussion and updates for this.</p>
					<p>Website Template design by.</p>
				</div>
			</div>
		</div>
		<div id="footer">
			<div>
				<div class="connect">
					<a href="#" class="facebook">facebook</a>
					<a href="#" class="twitter">twitter</a>
					<a href="#" class="googleplus">googleplus</a>
					<a href="#" class="pinterest">pinterest</a>
				</div>
				<p>&copy; 2023 Freeeze. All Rights Reserved.</p>
			</div>
		</div>
	</div>
	<script src="//assets.adobedtm.com/0b3367973afa/2827fcf830aa/launch-ff59faf17b51-development.min.js" async defer></script>
	<script src='dist/acdl_helper.js' async defer></script>
	<script src='js/adobeDataLayer.js' async defer></script>
	<script src="js/mobile.js" type="text/javascript"></script>
</body>
</html>
