<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html lang="en">
  <%- include('./partials/head') %>
  <body id="content-2b9114832d" data-cmp-data-layer-enabled>
    <script>
      const page = {
        "content-2b9114832d": {
          "@type": "freeze/core/components/page/content",
          "repo:modifyDate": "2022-11-24T14:22:04Z",
          "dc:title": "Home",
          "xdm:template": "/conf/freeze/settings/wcm/templates/homepage",
          "xdm:language": "en",
          "xdm:tags": ["Cup Cakes", "Featured", "New"],
          "repo:path": "/content/freeze/home",
        },
      }
      window.adobeDataLayer = window.adobeDataLayer || []
      adobeDataLayer.push({
        page: JSON.parse(JSON.stringify(page)),
        event: "cmp:show",
        eventInfo: {
          path: "page.content\u002D2b9114832d",
        },
      })
    </script>
    <div id="page">
      <div id="header">
        <div>
          <a href="/" class="logo"><img src="images/logo.png" alt="" /></a>
          <ul id="navigation">
            <li class="selected">
              <a href="/">Home</a>
            </li>
            <li class="menu">
              <a
                href="/about"
                data-cmp-clickable-link
                data-cmp-data-layer="{&#34;navigation-69cfafa9da-link-1-1&#34;:{&#34;@type&#34;:&#34;freeeze-company/core/components/structure/navigation/link-level-1&#34;,&#34;dc:title&#34;:&#34;About&#34;,&#34;dc:description&#34;:&#34;internal nav-link-level-1&#34;}}"
                >About</a
              >
              <ul class="primary">
                <li>
                  <a
                    href="/about/product"
                    data-cmp-clickable-link
                    data-cmp-data-layer="{&#34;navigation-69cfafa9da-link-1-2&#34;:{&#34;@type&#34;:&#34;freeeze-company/core/components/structure/navigation/link-level-2&#34;,&#34;dc:title&#34;:&#34;Product&#34;,&#34;dc:description&#34;:&#34;internal nav-link-level-2&#34;}}"
                    >Product</a
                  >
                </li>
              </ul>
            </li>
            <li class="menu">
              <a
                href="/blog"
                data-cmp-clickable-link
                data-cmp-data-layer="{&#34;navigation-69cfafa9da-link-2-1&#34;:{&#34;@type&#34;:&#34;freeeze-company/core/components/structure/navigation/link-level-1&#34;,&#34;dc:title&#34;:&#34;Blog&#34;,&#34;dc:description&#34;:&#34;internal nav-link-level-1&#34;}}"
                >Blog</a
              >
              <ul class="secondary">
                <li>
                  <a
                    href="/blog/post"
                    data-cmp-clickable-link
                    data-cmp-data-layer="{&#34;navigation-69cfafa9da-link-2-2&#34;:{&#34;@type&#34;:&#34;freeeze-company/core/components/structure/navigation/link-level-2&#34;,&#34;dc:title&#34;:&#34;Single&#32;Post&#34;,&#34;dc:description&#34;:&#34;internal_nav-link-level-2&#34;}}"
                    >Single post</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <a
                href="/contact"
                data-cmp-clickable-link
                data-cmp-data-layer="{&#34;navigation-69cfafa9da-link-3-1&#34;:{&#34;@type&#34;:&#34;freeeze-company/core/components/structure/navigation/link-level-1&#34;,&#34;dc:title&#34;:&#34;Contact&#34;,&#34;dc:description&#34;:&#34;internal_nav-link-level-1&#34;}}"
                >Contact</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div id="body" class="home">
        <div class="header">
          <img src="images/bg-home.jpg" alt="" />
          <div>
            <a
              href="/about/product"
              data-cmp-clickable-cta
              data-cmp-data-layer="{&#34;cta-929ccdje39&#34;:{&#34;@type&#34;:&#34;freeeze-company/core/components/buttons/cta&#34;,&#34;dc:title&#34;:&#34;Freeze&#032;Delight&#34;,&#34;dc:description&#34;:&#34;hero_cta&#34;}}"
              >Freeze Delight</a
            >
          </div>
        </div>
        <div class="body">
          <div>
            <div>
              <h1>NEW PRODUCT</h1>
              <h2>The Twist of Healthy Yogurt</h2>
              <p>
                This website template has been designed by freewebsitetemplates.com for you, for free. You can replace
                all this text with your own text.
              </p>
            </div>
            <img class="image_class" src="/images/yogurt.jpg" alt="" />
          </div>
        </div>
        <div class="footer">
          <div>
            <ul>
              <li>
                <a href="/about/product" class="product"></a>
                <h1>PRODUCTS</h1>
              </li>
              <li>
                <a href="/about" class="about"></a>
                <h1>OUR STORY</h1>
              </li>
              <li>
                <a href="/about/product" class="flavor"></a>
                <h1>FLAVORS</h1>
              </li>
              <li>
                <a href="/contact" class="contact"></a>
                <h1>OUR LOCATION</h1>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div id="footer">
        <div>
          <div class="connect">
            <a href="#" class="facebook">facebook</a>
            <a href="#" class="twitter">twitter</a>
            <a href="#" class="googleplus">googleplus</a>
            <a href="#" class="pinterest">pinterest</a>
          </div>
          <p>&copy; 2023 Freeeze. All Rights Reserved.</p>
        </div>
      </div>
    </div>
    <%- include('./partials/body-tags') %>
  </body>
</html>
